{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	{% include 'components/lightbox.twig' %}

	<div class="wrapper-whole">
		{% if brouillon %}
			<h1 class="text-center">Brouillons de
				{{user.pseudo|capitalize}}</h1>
		{% else %}
			<h1 class="text-center">Articles de
				{{user.pseudo|capitalize}}</h1>
		{% endif %}
		<div class="wrapper-main wrapper-main--indexArticles">
			<div class="wrapper-posts">
				{% for publication in publications %}

					{% include 'components/publication.twig' %}
					{% if publication.statut == 0 %}
						<p class="post__statut">Brouillon</p>
					{% else %}
						<p class="post__statut">Publié</p>
					{% endif %}
				{% endfor %}
			</div>
		</div>
	</div>
{% endblock %}
