{# <div class="blocMembre">
	<a class="listMembres__follow" href="{{ path('following', {id: membre.id}) }}">Suivre</a> #}
{% include 'components/membres.twig'%}
<p class="user__description">{{ membre.description }}</p>
{# </div> #}
