@mixin avatar($taille)
  width: $taille
  border-radius: 100%
  overflow: hidden
  height: $taille
  margin: 0
  display: flex;
  justify-content: center;
  .user__avatar
    width: auto
    height: 100%

@mixin blockFlex($justify)
  display: flex
  justify-content: $justify
  align-items: center
  flex-wrap: wrap

@mixin thumbnail()
  .picture
    width: 350px
    // height: $taille
    // overflow: hidden
    position: relative
    margin: 1em
    .thumbnail
      height: 250px
      width: auto
      filter: brightness(80%)
      // transform: translateY(-50%);
    .title
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      text-align: center
      color: $white
      font-weight: bold
      font-size: larger
      text-transform: uppercase
  
@mixin banner($taille)
  .picture
    width: auto
    height: $taille
    overflow: hidden
    position: relative
    margin: 1em
    .thumbnail
      position: relative
      width: 100%
      filter: brightness(80%)
      transform: translateY(-50%)
      top: 50%
    .title
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      text-align: center
      color: $white
      font-weight: bold
      font-size: larger
      text-transform: uppercase

@mixin link()
  color: $blue
  border: none
  background: none
  text-align: end
  width: 100%


@mixin titre()
    margin: 1em
    text-align: center
    text-transform: uppercase
    letter-spacing: 0.5em
