
$blue: rgb(30, 79, 102)
$clearBlue: #b7fff9
$white: rgb(255, 255, 255)
$arial: Arial, Helvetica, sans-serif
$red: #ff0000
$success: #02b875
$teal: #20c997
$info: #17a2b8
$primary: #4582ec
$cyan: #15d3c3
