@charset "UTF-8";
.wrapper-whole {
  padding: 0em 4em;
  width: auto;
  min-height: 80vh;
}

.wrapper-whole .main {
  width: 90%;
  margin: auto;
}

.wrapper-whole .wrapper-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper-whole .wrapper-main--indexArticles {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper-whole .wrapper-main .wrapper-posts {
  width: 70%;
}

.wrapper-whole .wrapper-main .wrapperAside {
  width: 25%;
}

.wrapper {
  width: 80%;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}

.wrapper .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 2px solid #1e4f66;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .flex .user {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .flex .user .user__containAvatar {
  width: 100px;
  border-radius: 100%;
  overflow: hidden;
  height: 100px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .flex .user .user__containAvatar .user__avatar {
  width: auto;
  height: 100%;
  overflow: initial;
}

.wrapper .flex .user .user__name {
  margin-top: 0.5em;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .flex .user__description {
  padding-top: 1em;
  color: #1e4f66;
  font-family: Arial, Helvetica, sans-serif;
}

.titre {
  color: #1e4f66;
  margin: 1em;
  text-align: center;
}

.wrapperFlex {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2em;
}

.wrapperFlex .a {
  overflow: hidden;
  position: relative;
}

@media screen and (min-width: 992px) {
  .wrapperFlex .a {
    position: unset;
  }
}

.wrapperFlex .a .picture {
  width: auto;
  overflow: hidden;
  position: relative;
}

@media screen and (max-width: 992px) {
  .wrapperFlex .a .picture {
    position: unset;
    width: 320px;
  }
}

.wrapperFlex .a .picture .thumbnail {
  margin: auto;
  height: 250px;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.wrapperFlex .a .picture .title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: larger;
  text-transform: uppercase;
}

.wrapperFlex--AlignStart {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
}

.wrapper {
  width: 80%;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}

.wrapper .post {
  margin: auto;
  width: 75%;
}

.wrapper .post .post__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3em;
}

.wrapper .post .post__header .post__title {
  color: #1e4f66;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .post .post__header .post__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .post .post__header .post__user figure {
  width: 100px;
  border-radius: 100%;
  overflow: hidden;
  height: 100px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .post .post__header .post__user figure .user__avatar {
  width: auto;
  height: 100%;
  overflow: initial;
}

.wrapper .post .post__header .post__user .user__name {
  margin-left: 0.5em;
  text-transform: uppercase;
}

.wrapper .post .post__wrapperPictures {
  display: block;
}

.wrapper .post .post__wrapperPictures .post__picture {
  width: 100%;
  margin: auto;
  padding: 1em;
}

.wrapper .post .post__wrapperPictures .post__legende--show {
  width: 100%;
  font-style: italic;
}

.wrapper .post .post__paragraph {
  width: 100%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper .post .post__categories {
  font-family: Arial, Helvetica, sans-serif;
  color: #1e4f66;
}

.wrapper__header {
  padding-bottom: 2em;
  border-bottom: dashed 3px #15d3c3;
}

.wrapper {
  width: 80%;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 200px;
}

.header .avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .avatar .user__infos {
  width: 200px;
  text-align: center;
}

.header .header__leftColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.header .header__leftColumn small {
  margin: 1em;
}

.header .header__leftColumn a {
  text-decoration: none;
}

.header .header__leftColumn span {
  display: block;
  font-size: xx-large;
  text-align: center;
}

.header .header__rightColumn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header .header__rightColumn i {
  font-size: x-large;
}

.header .header__rightColumn a {
  font-size: large;
}

.header .header__user {
  width: 150px;
  border-radius: 100%;
  overflow: hidden;
  height: 150px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header .header__user .user__avatar {
  width: auto;
  height: 100%;
  overflow: initial;
}

.header .user__name {
  margin-top: 0.5em;
  text-transform: uppercase;
  text-align: center;
  color: #1e4f66;
  font-weight: bolder;
  font-size: x-large;
}

.header .header__text {
  background: none;
  border: none;
  color: #1e4f66;
  font-weight: bold;
  font-size: larger;
}

.header .header__delete {
  position: absolute;
  top: 0;
  left: 0;
}

.header .header__sendMessage {
  background: none;
  border: none;
  color: #1e4f66;
  font-weight: bold;
  font-size: larger;
}

.main {
  margin: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

.main .main__description {
  margin-top: 1em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.main .main__description .main__infos {
  border-radius: 15px;
  padding: 1em;
  background: #b7fff9;
}

.main .main__description .main__infos .infos__list .infos__line {
  list-style: none;
  margin-top: 0.5em;
}

.main .main__articles .articles__title {
  margin-top: 1em;
}

.main .main__articles .articles__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .main__articles .article__picture {
  position: relative;
  margin: auto;
}

.main .main__articles .article__picture .article__thumbnail {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  height: 200px;
  overflow: hidden;
}

.main .main__articles .article__picture .article__thumbnail--empty {
  background-color: #1e4f66;
  width: 350px;
}

.main .main__articles .article__picture .article__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: larger;
  text-transform: uppercase;
}

.main .main__articles .main__links {
  color: #1e4f66;
}

.post {
  border-bottom: #f7a2a273 dashed 2px;
  margin-top: 3em;
  padding-bottom: 3em;
}

.post .post__entete {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 80%;
}

.post .post__user {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1em;
}

.post .post__user .user__avatar {
  width: 60px;
  border-radius: 100%;
  overflow: hidden;
  height: 60px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post .post__user .user__avatar .user__avatar {
  width: auto;
  height: 100%;
  overflow: initial;
}

.post .post__user .user__name {
  margin-left: 0.5em;
  text-transform: uppercase;
  text-decoration: none;
  color: #1e4f66;
}

.post .post__title {
  color: #1e4f66;
  text-decoration: none;
  text-transform: uppercase;
}

.post .post__lieuEtDate {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 85%;
  margin: 1em 0em;
}

.post .post__lieuEtDate--show {
  width: 100%;
}

.post .post__wrapperPictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post .post__wrapperPictures .post__picture {
  width: 85%;
}

.post .post__wrapperPictures .post__legende {
  display: none;
}

.post .post__wrapperPictures--many {
  width: 85%;
}

.post .post__wrapperPictures--many .post__picture {
  width: 30%;
  height: auto;
}

.post .post__wrapperPictures--many .post__legende {
  display: none;
}

.post .post__paragraph, .post .post__paragraph--solo {
  text-align: justify;
  width: 85%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.post .post__categories {
  font-family: Arial, Helvetica, sans-serif;
  color: #1e4f66;
}

.post__statut {
  font-family: Arial, Helvetica, sans-serif;
  color: #1e4f66;
}

.like, .likeComm {
  text-decoration: none;
}

#commentaire {
  margin-bottom: 1em;
}

.aside {
  top: 1em;
  position: -webkit-sticky;
  position: sticky;
  background-color: #17a2b8;
  margin: 2em;
  padding: 2em;
  border-radius: 15px;
}

.aside .aside__h6 {
  color: white;
}

.aside a {
  text-decoration: none;
}

.aside .aside__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aside .aside__user .aside__user__avatar {
  width: 50px;
  border-radius: 100%;
  overflow: hidden;
  height: 50px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aside .aside__user .aside__user__avatar .user__avatar {
  width: auto;
  height: 100%;
  overflow: initial;
}

.aside .aside__user .aside__user__name {
  color: white;
  text-transform: uppercase;
  font-size: medium;
  margin-left: 0.5em;
}

.aside .aside__user__bloc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aside .aside__button {
  margin: 0 0 1em 2em;
  background-color: white;
}

.aside .aside__hashtags a {
  text-decoration: none;
  color: #1e4f66;
  font-style: italic;
}

.aside--bottom {
  top: 230px;
}

@media screen and (max-width: 576px) {
  .aside {
    display: none;
  }
}

#lightbox {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.753);
  height: 100vh;
  width: 100vw;
  z-index: -1;
  opacity: 0;
}

#lightbox i {
  color: white;
  background-color: rgba(220, 20, 60, 0.555);
  font-size: x-large;
  margin: 1em;
  padding: 0.2em;
  border-radius: 5px;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

#lightbox i:hover {
  background-color: #ff0000;
}

#lightbox figure {
  width: 50vw;
  margin: auto;
}

#lightbox figure img {
  width: 100%;
  margin: auto;
}

#lightbox figure figcaption {
  color: white;
}

#lightbox #croix {
  position: absolute;
  top: 0;
  right: 0;
}

.link {
  color: #1e4f66;
  border: none;
  background: none;
  text-align: end;
  width: 100%;
  padding-right: 5em;
}

.banner .picture {
  width: auto;
  height: 40vh;
  overflow: hidden;
  position: relative;
  margin: 1em;
}

.banner .picture .thumbnail {
  position: relative;
  width: 100%;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

.banner .picture .title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: larger;
  text-transform: uppercase;
}

header {
  z-index: 5;
  width: 100vw;
  width: 100%;
  background-color: #20c997;
}

#entete {
  background: #20c997;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  height: 100px;
}

#entete a {
  width: 170px;
}

@media screen and (max-width: 576px) {
  #myLinks {
    display: none;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    position: absolute;
    width: 100%;
  }
  #myLinks ul {
    position: fixed;
    width: 100%;
    background-color: blue;
  }
}

@media screen and (min-width: 576px) {
  #myLinks {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

#searchBig {
  width: 40%;
  margin: auto;
  padding-top: 5em;
}

#searchBig input {
  border-radius: 2rem;
  background-color: #ffffff6e;
}

#searchBig input::-webkit-input-placeholder {
  color: white;
  opacity: 1;
}

#searchBig input:-ms-input-placeholder {
  color: white;
  opacity: 1;
}

#searchBig input::-ms-input-placeholder {
  color: white;
  opacity: 1;
}

#searchBig input::placeholder {
  color: white;
  opacity: 1;
}

#searchBig .recherche__textefiltres {
  color: white;
}

@media screen and (max-width: 576px) {
  #searchBig {
    display: none;
  }
}

@media screen and (min-width: 576px) {
  #searchLittle {
    display: none;
  }
}

#menuBurger {
  position: fixed;
  top: 1em;
  right: 2em;
}

@media screen and (min-width: 576px) {
  #menuBurger {
    display: none;
  }
}

#login {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#login .notif {
  margin-left: 1em;
  color: #ff0000;
}

.link__Profil {
  text-decoration: none;
}

.entete__blockUn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
}

#up {
  position: fixed;
  bottom: 2em;
  right: 1em;
  color: #ff0000;
  font-size: x-large;
  font-weight: 200;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

nav, #login, #menuBurger, #loginVisitor {
  z-index: 2;
}

.publishStuff {
  background-image: url("../../../img/inscription_test.jpg");
  position: relative;
  height: 700px;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  opacity: 0;
  -webkit-animation: fadeIn 0.8s 0.4s ease forwards;
          animation: fadeIn 0.8s 0.4s ease forwards;
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.publishStuff--publish {
  background-image: url("../../../img/nouvelArticle.jpg");
  height: 500px;
}

.publishStuff--apropos {
  background-image: url("../../../img/apropos.jpg");
  height: 500px;
}

.publishStuff--follow {
  background-image: url("../../../img/follow.jpg");
  height: 500px;
}

.publishStuff .publishStuff__blocText {
  width: 500px;
  position: relative;
  top: 10%;
  left: 10%;
}

.publishStuff .publishStuff__blocText .publishStuff__text {
  font-size: xx-large;
  font-weight: bold;
  color: #1e4f66;
}

.publishStuff .publishStuff__blocText a {
  color: white;
  text-decoration: none;
}

.publishStuff .publishStuff__h1 {
  position: absolute;
  bottom: 20%;
  left: 2em;
  color: white;
  text-transform: uppercase;
  font-size: x-large;
  border: 5px solid #20c997;
  padding: 0.3em;
  border-radius: 10px;
  -webkit-transition: 1s;
  transition: 1s;
}

.publishStuff .publishStuff__h1:hover {
  background-color: #20c997;
  -webkit-transition: 1s;
  transition: 1s;
}

.publishStuff .publishStuff__h1--register {
  bottom: 1em;
  right: 2em;
  left: unset;
  font-size: xxx-large;
}

.publishStuff .publishStuff__h1--follow {
  right: 2em;
  left: unset;
}

.titre {
  margin: 1em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.article__picture {
  width: 320px;
  position: relative;
  margin: auto;
}

.article__picture .article__thumbnail {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  height: 250px;
  overflow: hidden;
}

.article__picture .article__thumbnail--empty {
  background-color: #1e4f66;
  width: 320px;
}

.article__picture .article__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: larger;
  text-transform: uppercase;
}

.vich-image img {
  width: 200px;
  margin: 1em 0em;
  display: block;
}

.vich-image a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: darkgray;
  margin: 1em 0em;
}

.editForm .vich-image a::before, #galeries .vich-image a::before, #theme .vich-image a::before, #pays .vich-image a::before {
  content: unset;
}

.vich-image a::before {
  content: "Avatar par défaut :";
}

.preview {
  margin: 1em 0em;
}

.textPreview {
  margin: 1em;
  color: #ff0000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}

form li {
  color: #ff0000;
  list-style: none;
}

form span {
  color: #1e4f66;
}

textarea {
  height: 200px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.select2 {
  width: 100% !important;
}

.block__Messages {
  width: 100%;
  position: relative;
}

.messages__envoyer {
  width: 100%;
}

.messages__conversation {
  overflow: scroll;
  height: 70vh;
}

.block__Messages--empty {
  width: 100%;
  display: block;
}

.blockMessage {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.blockMessage--sender {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.message {
  display: inline-block;
  margin: 1em;
  background-color: #15d3c3;
  padding: 1em;
  border-radius: 1em;
}

.flex--userFirst {
  background-color: #b7fff9;
}

.messagerie__correspondants {
  overflow: scroll;
  height: 70vh;
}

.user .notif {
  color: #ff0000;
}

.dashboard .notif {
  color: #ff0000;
  margin-left: 1em;
}

form {
  width: 100%;
}

div#short_message {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 100%;
}

div#short_message div:first-child {
  width: 100%;
}

textarea#short_message_texte, #message_texte {
  background-color: ghostwhite;
  border-radius: 20px;
  height: 100px;
}

.post form {
  margin: 1em 0em;
  background-color: #15d3c3;
  padding: 2em 2em 0em 2em;
  border-radius: 20px;
}

.post form #commentaire div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

#commentaire_texte {
  height: 100px;
}

.commentaire {
  background-color: #15d3c3;
  margin: 1em 0em;
  padding: 1em;
  border-radius: 20px;
}

.commentaire .commentaire__auteur {
  text-align: end;
}

.hidden {
  display: none;
}

.visible {
  display: block;
}

.notifCommentaire {
  background-color: #15d3c3;
  border-radius: 10px;
  margin: 1em;
  padding: 1em;
}

.notifCommentaire p {
  text-align: center;
  margin: 0;
}

.fa-arrow-left {
  position: absolute;
  width: 50px;
  left: -2em;
  top: 40%;
  color: #1e4f66;
}

.fa-arrow-right {
  position: absolute;
  width: 50px;
  right: -2em;
  top: 40%;
  color: #1e4f66;
}

footer {
  background-color: #1e4f66;
  color: white;
}

footer a {
  color: white;
  text-decoration: none;
  margin: 0.5em;
}

footer .fab {
  margin: 0em 3em;
}

footer div {
  margin: 0.5em;
}

#map, #mapVoyagesAccomplis, #mapProfile {
  height: 600px;
  width: 100%;
}

.mapHidden {
  display: none;
}

#loginVisitor {
  position: fixed;
  right: 0.2em;
  top: 0.2em;
}

#login {
  height: 45px;
  background-color: #4582ec;
  position: fixed;
  right: 0.2em;
  top: 0.2em;
  z-index: 2;
  width: 130px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#login h5 {
  color: white;
  margin: auto;
  text-align: center;
}

#login i {
  color: white;
  font-size: x-large;
  margin: 0.2em;
}

#login a {
  color: white;
  height: 30px;
}

#login a i {
  margin: 0.1em 0.7em;
  color: white;
  font-size: x-large;
}

#login a small {
  text-align: center;
  color: white;
}

@media screen and (max-width: 576px) {
  #login {
    right: 6em;
    top: 1em;
    position: fixed;
  }
}

#login:hover {
  height: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  width: 200px;
}

#login:hover .dashboard {
  max-height: 100%;
  opacity: 1;
  -webkit-transition-delay: 4s;
          transition-delay: 4s;
  -webkit-transition: 2s;
  transition: 2s;
}

.dashboard {
  margin: 1em 0em;
  max-height: 0;
  opacity: 0;
}

.dashboard a {
  margin: 0.5em;
  text-decoration: none;
  display: block;
}

.dashboard a small {
  display: none;
}

.dashboard a:hover i {
  display: none;
}

.dashboard a:hover small {
  display: block;
}

.dashboard .rangUn, .dashboard .rangDeux, .dashboard .rangTrois {
  border-bottom: 2px solid white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard #login .rangQuatre {
  margin: auto;
}

.dashboard #login .rangQuatre i {
  margin-top: 0.5em;
}

.dashboard .colUn, .dashboard .colDeux {
  width: 50%;
}

.dashboard .colUn {
  border-right: 2px solid white;
}

.dashboard .rangUn {
  border-top: 2px solid white;
}
/*# sourceMappingURL=main.css.map */