@charset "UTF-8";
.wrapper-whole {
  padding: 4em;
  width: auto;
}

.wrapper-whole .main {
  width: 90%;
  margin: auto;
}

.wrapper-whole .wrapper-main {
  margin-top: 2em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrapper-whole .wrapper-main .wrapper-posts {
  width: 70%;
}

.wrapper-whole .wrapper-main .wrapperAside {
  width: 25%;
}

.wrapper {
  width: 80%;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}

.wrapper .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  border-bottom: 2px solid #1e4f66;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.wrapper .flex .user {
  margin: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrapper .flex .user .user__containAvatar {
  width: 100px;
  border-radius: 100%;
  overflow: hidden;
  height: 100px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .flex .user .user__containAvatar .user__avatar {
  width: auto;
  height: 100%;
  overflow: initial;
}

.wrapper .flex .user .user__name {
  margin-top: 0.5em;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .flex .user__description {
  padding-top: 1em;
  color: #1e4f66;
  font-family: Arial, Helvetica, sans-serif;
}

.titre {
  color: #1e4f66;
  margin: 1em;
  text-align: center;
}

.wrapperFlex {
  width: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 2em;
}

.wrapperFlex .picture {
  width: 350px;
  overflow: hidden;
  position: relative;
  margin: 1em;
}

.wrapperFlex .picture .thumbnail {
  height: 250px;
  width: auto;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.wrapperFlex .picture .title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: larger;
  text-transform: uppercase;
}

.wrapper {
  width: 80%;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}

.wrapper .post {
  margin: auto;
  width: 75%;
}

.wrapper .post .post__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 3em;
}

.wrapper .post .post__header .post__title {
  color: #1e4f66;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}

.wrapper .post .post__header .post__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .post .post__header .post__user figure {
  width: 100px;
  border-radius: 100%;
  overflow: hidden;
  height: 100px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .post .post__header .post__user figure .user__avatar {
  width: auto;
  height: 100%;
  overflow: initial;
}

.wrapper .post .post__header .post__user .user__name {
  margin-left: 0.5em;
  text-transform: uppercase;
}

.wrapper .post .post__wrapperPictures {
  display: block;
}

.wrapper .post .post__wrapperPictures .post__picture {
  width: 100%;
  margin: auto;
  padding: 1em;
}

.wrapper .post .post__wrapperPictures .post__legende--show {
  width: 100%;
  font-style: italic;
}

.wrapper .post .post__paragraph {
  width: 100%;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper .post .post__categories {
  font-family: Arial, Helvetica, sans-serif;
  color: #1e4f66;
}

.wrapper {
  width: 80%;
  margin-top: 3em;
  margin-left: auto;
  margin-right: auto;
}

.wrapper .header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 200px;
}

.wrapper .header .header__user {
  width: 150px;
  border-radius: 100%;
  overflow: hidden;
  height: 150px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrapper .header .header__user .user__avatar {
  width: auto;
  height: 100%;
  overflow: initial;
}

.wrapper .header .user__name {
  margin-top: 0.5em;
  text-transform: uppercase;
  text-align: center;
  color: #1e4f66;
  font-weight: bolder;
  font-size: x-large;
}

.wrapper .header .header__follow {
  background: none;
  border: none;
  color: #1e4f66;
  font-weight: bold;
  font-size: larger;
  position: absolute;
  top: 0;
  right: 0;
}

.wrapper .header .header__delete {
  position: absolute;
  top: 0;
  left: 0;
}

.wrapper .header .header__sendMessage {
  background: none;
  border: none;
  color: #1e4f66;
  font-weight: bold;
  font-size: larger;
  position: absolute;
  bottom: 0;
  right: 0;
}

.wrapper .main {
  border-top: 2px #b4d4e2 solid;
  margin: 2em;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper .main .main__description {
  margin-top: 1em;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.wrapper .main .main__infos {
  border-radius: 15px;
  padding: 1em;
  background: #b4d4e2;
}

.wrapper .main .main__infos .infos__list .infos__line {
  list-style: none;
  margin-top: 0.5em;
}

.wrapper .main .main__articles .articles__title {
  margin-top: 1em;
}

.wrapper .main .main__articles .articles__flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.wrapper .main .main__articles .articles__flex .article__picture {
  position: relative;
  margin: 1em;
}

.wrapper .main .main__articles .articles__flex .article__picture .article__thumbnail {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  height: 200px;
  overflow: hidden;
}

.wrapper .main .main__articles .articles__flex .article__picture .article__thumbnail--empty {
  background-color: #1e4f66;
  width: 300px;
}

.wrapper .main .main__articles .articles__flex .article__picture .article__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: larger;
  text-transform: uppercase;
}

.wrapper .main .main__links {
  color: #1e4f66;
}

.post {
  margin-top: 3em;
}

.post .post__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 1em;
}

.post .post__user .user__avatar {
  width: 100px;
  border-radius: 100%;
  overflow: hidden;
  height: 100px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.post .post__user .user__avatar .user__avatar {
  width: auto;
  height: 100%;
  overflow: initial;
}

.post .post__user .user__name {
  margin-left: 0.5em;
  text-transform: uppercase;
}

.post .post__title {
  color: #1e4f66;
  text-decoration: none;
  text-transform: uppercase;
}

.post .post__wrapperPictures {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.post .post__wrapperPictures .post__picture {
  width: 85%;
}

.post .post__wrapperPictures .post__legende {
  display: none;
}

.post .post__wrapperPictures--many {
  width: 85%;
}

.post .post__wrapperPictures--many .post__picture {
  width: 30%;
  height: auto;
}

.post .post__wrapperPictures--many .post__legende {
  display: none;
}

.post .post__paragraph {
  width: 85%;
  font-family: Arial, Helvetica, sans-serif;
  overflow: hidden;
}

.post .post__categories {
  font-family: Arial, Helvetica, sans-serif;
  color: #1e4f66;
}

.post__statut {
  font-family: Arial, Helvetica, sans-serif;
  color: #1e4f66;
}

.aside {
  top: 1em;
  position: -webkit-sticky;
  position: sticky;
  background-color: #1e4f66;
  margin: 2em;
  padding: 2em;
  border-radius: 15px;
}

.aside .aside__h6 {
  color: white;
}

.aside .aside__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.aside .aside__user .aside__user__avatar {
  width: 50px;
  border-radius: 100%;
  overflow: hidden;
  height: 50px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.aside .aside__user .aside__user__avatar .user__avatar {
  width: auto;
  height: 100%;
  overflow: initial;
}

.aside .aside__user .aside__user__name {
  color: white;
  font-size: medium;
  margin-left: 0.5em;
}

.aside .aside__hashtags {
  color: white;
  font-style: italic;
}

.aside--bottom {
  top: 230px;
}

#lightbox {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: rgba(0, 0, 0, 0.753);
  height: 100vh;
  width: 100vw;
  z-index: -1;
  opacity: 0;
}

#lightbox i {
  color: white;
  background-color: rgba(220, 20, 60, 0.555);
  font-size: x-large;
  margin: 1em;
  padding: 0.2em;
  border-radius: 5px;
  -webkit-transition: ease-in 0.5s;
  transition: ease-in 0.5s;
}

#lightbox i:hover {
  background-color: crimson;
}

#lightbox figure {
  width: 50vw;
}

#lightbox figure img {
  width: 100%;
}

#lightbox figure figcaption {
  color: white;
}

#lightbox #croix {
  position: absolute;
  top: 0;
  right: 0;
}

.link {
  color: #1e4f66;
  border: none;
  background: none;
  text-align: end;
  width: 100%;
}

.banner .picture {
  width: auto;
  height: 40vh;
  overflow: hidden;
  position: relative;
  margin: 1em;
}

.banner .picture .thumbnail {
  position: relative;
  width: 100%;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  top: 50%;
}

.banner .picture .title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: larger;
  text-transform: uppercase;
}

#entete {
  background: #20c997;
}

.publishStuff {
  position: relative;
  margin-bottom: 5em;
}

.publishStuff .publishStuff__img {
  width: 100%;
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
}

.publishStuff .publishStuff__h1 {
  position: absolute;
  bottom: 20%;
  left: 2em;
  color: white;
  text-transform: uppercase;
  font-size: x-large;
}

.publishStuff .publishStuff__h1--register {
  bottom: 1em;
  right: 2em;
  left: unset;
  font-size: xxx-large;
}

.titre {
  margin: 1em;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5em;
}

.article__picture {
  width: 350px;
  position: relative;
  margin: 1em;
}

.article__picture .article__thumbnail {
  -webkit-filter: brightness(80%);
          filter: brightness(80%);
  height: 250px;
  overflow: hidden;
}

.article__picture .article__thumbnail--empty {
  background-color: #1e4f66;
  width: 350px;
}

.article__picture .article__title {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: larger;
  text-transform: uppercase;
}

.vich-image img {
  width: 200px;
  margin: 1em;
  display: block;
}

.vich-image a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: darkgray;
  margin: 1em 0em;
}

.editForm .vich-image a::before, #galeries .vich-image a::before {
  content: unset;
}

.vich-image a::before {
  content: "Avatar par défaut :";
}

.preview {
  margin: 1em;
}

.textPreview {
  margin: 1em;
  color: #ff0000;
  font-family: Arial, Helvetica, sans-serif;
  font-size: smaller;
}

form li {
  color: #ff0000;
  list-style: none;
}

textarea {
  height: 200px;
}

p {
  font-family: Arial, Helvetica, sans-serif;
}

.dashboard {
  width: 100%;
  background: #515bda;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 3em;
}

.dashboard .dashboard__link {
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  text-decoration: none;
}
/*# sourceMappingURL=main.css.map */