.publishStuff
  position: relative
  margin-bottom: 5em
  // margin: 0
  .publishStuff__img
    width: 100%
    filter: brightness(80%);
  .publishStuff__h1
    position: absolute
    bottom: 20%
    left: 2em
    color: $white
    text-transform: uppercase
    font-size: x-large
    &--register
      bottom: 1em
      right: 2em
      left: unset
      font-size: xxx-large
