#entete
  background: #20c997

#myLinks
  @media screen and (max-width: 576px)
    display: none
  @media screen and (min-width: 576px)
    display: flex

#searchBig
  display: flex
  @media screen and (max-width: 576px)
    display: none

#searchLittle
  @media screen and (min-width: 576px)
    display: none

#menuBurger
  @media screen and (min-width: 576px)
    display: none
