.select2
  width: 100% !important

.block__Messages
  width: 100%
  position: relative
  // display: flex
  // flex-direction: column
  // justify-content: flex-end

.messages__envoyer
  // position: absolute
  // bottom: 0
  width: 100%

.messages__conversation
  overflow: scroll
  height: 70vh

.block__Messages--empty
  width: 100%
  // @include blockFlex(flex-end)
  // flex-direction: column
  display: block

.blockMessage
  width: 100%
  display: flex
  justify-content: flex-start
  &--sender
    justify-content: flex-end

.message
  display: inline-block
  margin: 1em
  background-color: $cyan
  padding: 1em
  border-radius: 1em

.flex--userFirst
  background-color: $clearBlue

.main__messagerie
  // height: 70vh
  // overflow: scroll

.messagerie__correspondants
  overflow: scroll
  height: 70vh
  width: 20vw

.user
  .notif
    color: $red

.dashboard
  .notif
    color: $red
    margin-left: 1em

form
  width: 100%

div#short_message
  @include blockFlex(flex-end)
  flex-direction: column
  align-items: flex-end
  width: 100%
  div:first-child
    width: 100%

textarea#short_message_texte, #message_texte
  background-color: ghostwhite
  border-radius: 20px
  height: 100px
