.article__picture
  width: 320px
  position: relative
  margin: auto
  .article__thumbnail
    filter: brightness(80%)
    height: 250px
    overflow: hidden
    &--empty
      background-color: $blue
      width: 320px
  .article__title
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%, -50%)
    text-align: center
    color: $white
    font-weight: bold
    font-size: larger
    text-transform: uppercase
