@import "../mixin"
@import "../variables"

.wrapper-whole
  padding: 0em 4em
  width: auto
  .main
    width: 90%
    margin: auto
  .wrapper-main
    display: flex
    justify-content: space-between
    &--indexArticles
      justify-content: center
    .wrapper-posts
      width: 70%
    .wrapperAside
      width: 25%
