{% extends 'base.html.twig' %}

{% block title %}A propos
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
{% endblock %}

{% block body %}


	{# <div class="wrapper-whole"> #}
	<div class="bloc">
		<figure class="publishStuff publishStuff--apropos"></figure>
	</div>
	{# </div> #}

	<main class="main wrapper">
		<article>
			<p>
				<strong>PVT</strong>
				est un site dédié aux
				<strong>PVTistes</strong>
				qui souhaitent partager leurs
				<strong>voyages</strong>et rencontrer d'autres PVTistes.
			</p>
			<p>
				<strong>PVT</strong>
				est un
				<strong>réseau social</strong>
				en même temps qu'un site de
				<strong>blogging</strong>.</p>
			<p>
				Partagez vos
				<strong>expériences</strong>
				de voyage et et découvrez celles des autres.
			</p>
			<p>
				Qu'est-ce qu'un PVT ? Le terme PVT correspond au Permis (ou Programme) Vacances Travail. C’est un programme de
				<strong>visas</strong>
				temporaires qui offrent aux détenteurs la possibilité de voyager dans plusieurs pays étrangers tout en y travaillant.</p>
			<p>
				On parle également de
				<strong>Visa Vacances Travail</strong>
				(VVT) ou de
				<strong>Working Holiday Visa</strong>
				(WHV) dans les pays anglophones.</p>
		</article>
		<article>
			<p>Renseignez-vous sur le
				<strong>PVT</strong>
				grâce aux
				<strong>ressources</strong>
				suivantes :</p>
			<ul>
				<li><a href="https://pvtistes.net/">pvtistes.net</a></li>
				<li><a href="https://fr.wikipedia.org/wiki/Programme_Vacances_Travail">fiche Wikipédia</a></li>
				<li><a href="https://www.diplomatie.gouv.fr/fr/services-aux-francais/preparer-son-expatriation/emploi/article/programme-vacances-travail-pvt">www.diplomatie.gouv.fr</a></li>
			</ul>
		</article>


	</main>


{% endblock %}
