{% if app.user %}
	{% set nbSuggestions = suggestionsUsers|length %}
	{% set nbFollowsInSuggestions = 0 %}

	{% for suggestion in suggestionsUsers %}

		{% if app.user.following.contains(suggestion) %}
			{% set nbFollowsInSuggestions = nbFollowsInSuggestions + 1 %}
		{% endif %}
	{% endfor %}
	{% if nbSuggestions != nbFollowsInSuggestions %}
		{% if suggestionsUsers is not empty %}

			<div class="wrapperAside">
				<aside class="aside">
					<h4 class="aside__h6">Membres susceptibles de vous intéresser :</h4>
					{% for suggestionsUser in suggestionsUsers %}
						{% if not (app.user.following.contains(suggestionsUser)) %}
							<div class="aside__user__bloc">
								<a href="{{ path('user_show', {id: suggestionsUser.id}) }}" class="aside__user">
									<figure><img class="aside__user__avatar" src="{{ asset('img/avatar/' ~ suggestionsUser.avatar) }}"/></figure>
									<h5 class="aside__user__name">{{ suggestionsUser.pseudo }}</h5>
								</a>
								<a class="btn aside__button" href="{{ path('following', {id: suggestionsUser.id}) }}">Suivre</a>
							</div>
						{% endif %}
					{% endfor %}
				</aside>
			</div>
		{% endif %}
	{% endif %}
{% endif %}
