	<div id="lightbox" class="flex">
		<i id="croix" class="fas fa-times"></i>
		<i id="left" class="fas fa-arrow-left"></i>
		<figure><!-- <img src="…"> -->
			<!-- <figcaption>texte</figcaption> -->
		</figure>
		<i id="right" class="fas fa-arrow-right"></i>
	</div>
