{% extends 'base.html.twig' %}

{% block title %}forgottenPassword
{% endblock %}

{% block body %}
<div class="container">
	<h1>mot de passe oublié</h1>
	{% for message in app.flashes('info') %}
		{{ message }}
	</div>
	<div class="alert alert-success">

	{% endfor %}
	{{ form(form) }}
</div>
	
{% endblock %}
