{% extends "base.html.twig" %}

{% block body %}

	<form method="post">
		<h1 class="h3 mb-3 font-weight-normal">Reset Password</h1>
		<label for="inputPassword" class="sr-only">Password</label>
		<input type="password" name="password" id="inputPassword" class="form-control" placeholder="Password" required>
		<input type="hidden" name="token" value="{{ token }}">
		<button class="btn btn-lg btn-primary" type="submit">
			Register
		</button>
	</form>

	{# <a href=" {{ ('app_login') }}">Retour</a>
	
		<form name="change_password" method="post">
	
			{{ form_row(form.password) }}
			{{ form_row(form.valider) }}
		</form> #}
{% endblock %}
